@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: hsl(272, 50%, 88%);
    color: hsl(272, 75%, 9%);
    font-family: 'Open Sans', sans-serif;
}
header h1, p{
    text-align: center;
}
header p{
    font-style: italic;
}

.form-area{
    padding: 2em 2em;
    background-color: hsl(272, 50%, 70%);
    max-width: 60%;
    margin: auto;
    border-radius: 1em;
    color: hsl(272, 75%, 9%)
}

#name, #email, #number{
    width: 100%;
    height: 3em;
}
input, label{
    display: block;
    padding: 0.3em;
    border-radius: 0.5em;
}
ul{
    padding: 0;
}
ul li{
    list-style-type: none;
}

ul li input, label{
    display: inline-block;
    
}
.input-block{
    text-align: left;
    margin: 0.5em;
    
}.input-block p{
    text-align: left;
    margin: 0.2em;
}
#submit{
    padding: 0.5em 2em;
    background-color: hsl(272, 75%, 9%);
    color: hsl(272, 50%, 88%);
}

#submit:hover, #submit:focus{
    background-color:hsl(272, 50%, 88%);;
    color:hsl(272, 75%, 9%);
}



